@page
@model Movies
@{
    ViewData["Title"] = "Movies";
}
<h2>@ViewData["Title"]</h2>

<div class="jumbotron">
    @*<ul>
            @foreach(var movie in Model.MovieList)
            {
                <li>@movie.Title (@movie.ReleaseDate.Year), @movie.Genre, <strong>@movie.Rating</strong></li>
            }
        </ul>*@
    <kendo-grid name="grid">
        <datasource type="DataSourceTagHelperType.Ajax" server-operation="false">
            <transport>
                <read url="/api/movies" type="GET" />
                <update url="/api/movies/update" type="PUT" />
                <destroy url="/api/movies/delete" type="DELETE" />
            </transport>
            <schema>
                <model id="Id"></model>
            </schema>
        </datasource>
        <groupable enabled="true" />
        <sortable enabled="true" />
        <editable enabled="true" mode="popup" />
        <columns>
            <column field="Title" title="Movie Title"></column>
            <column field="ReleaseDate" title="Release Date" />
            <column field="Genre" title="Genre" />
            <column field="Rating" title="Rating" width="50"/>
            <column>
                <commands>
                    <column-command text="Edit" name="edit"></column-command>
                    <column-command text="Delete" name="destroy"></column-command>
                </commands>
            </column>
        </columns>
    </kendo-grid>
</div>
