@{
    ViewBag.Title = "Add Album";
}

@model MusicStore.Models.Album

<div class="jumbotron">
    @using (Html.BeginForm("AddAlbum", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()

        <div class="row">
            @Html.LabelFor(model => model.Title) <br />
            @Html.TextBoxFor(model => model.Title)
        </div>
        <div class="row">
            @Html.LabelFor(model => model.ReleaseDate) <br />
            @(Html.Kendo().DatePickerFor(model => model.ReleaseDate))
        </div>
        <div class="row">
            @(Html.Kendo().AutoCompleteFor(model => model.Genre)
                          .Name("genre")
                          .Filter("startswith")
                          .Placeholder("Genre")
                          .BindTo(new string[] { "Pop", "Rock", "Classic", "Hip-Hop", "Metal", "Rave", "Dubtep" }))
        </div>
        <div class="row">
            @(Html.Kendo().ColorPickerFor(model => model.CoverColor)
                        .Value("#fff"))
        </div>
        <div class="row">
            @(Html.Kendo().Button()
                                    .Name("SubmitBtn")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Content("Submit"))
        </div>
    }
</div>
